.App {
  text-align: center;
  width: 100%;
  position: absolute;
  min-height: 100%;
}
.Header {
  background-color: lightgreen;
  width: 100%;
  height: 80px;
  top: 0;
}
.return {
  position: relative;
  top: -50px;
  right: 670px;
}
.footer {
  background-color: lightgreen;
  position: fixed;
  left: 0;
  bottom: 0;
  flex-direction: row;
  float: left;
  overflow: hidden;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-around;
}
.parallax {
  /* The image used */
  background-image: url('https://images.unsplash.com/photo-1519671844723-ff8eb5f7383f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f8132932fcd9c6d5ab0b9bae3f73696&auto=format&fit=crop&w=1050&q=80Olijato.jpeg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about, .contact, .videos, a {
  text-decoration: none; color: black;
}
.movie {
  padding: 0%;
}
.filler {
  color: transparent;
}
.logreg {
  background-color: rgb(139, 156, 161);
}
.developer {
  border: 1px solid black;
  width: 10%;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 78px;
  background-color: lightblue;
}
.developer:hover {
  opacity: 2;
}
/* --------------------------------------------------- Menu -------------------------------------------------------------- */
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; /* Makes the click icon on hover */
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/* Just a quick hamburger */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
  transition: 
    transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* Next change the three lines into  */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/* Takes the three lines and hides the middle one */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Oh yeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/* Make this absolute positioned at the top left of the screen */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #a7a7a7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-decoration: none; color: black;
}
/* And let's slide it in from the left */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* ------------------------------------- Animated buttons and input fields ------------------------------------------ */
.button-submit {
  font-size: 1em;
  height: 50px;
  width: 10%;
	background: #4593b9;
	color: #f2f2f2;
	padding: -10px;
	border-radius: 50px;
	position: relative;
	box-sizing: border-box;
  transition: all 500ms ease; 
  transform-style: preserve-3d;
  cursor: pointer;
}
.button-submit:after {
	top: 50%;
  left: 0px;
  border: 1px solid white;
  width: 100%;
  height: 50px;
	position: absolute;
  background: #3a9999;
	border-radius: 50px;
  content: 'Enter';
  font-size: 1em;
  vertical-align: middle;
  align-content: center;
  transform-origin: left bottom;
  margin-top: -50px;
  white-space: nowrap;
  transform: rotateX(90deg);
  cursor: pointer;
  text-align: center;
} 
.button-submit:hover {
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
input[type=text] {
  width: 30%;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 30%;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.skills {
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(76, 175, 158);
  border-radius: 15px;
  box-shadow: 0 7px #999;
  height: 30px;
  font-size: 1em;
}
.skills:hover {
  background-color: #4068b1;
}
.skills:active {
  background-color: #4068b1;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
/* ----------------------------------------------------- Searchbar -------------------------------------------------------------- */
.find{
  position: relative;
  left: 75%;
  transform: translate(-50%,50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: rgb(176, 171, 248);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid rgb(56, 56, 56);
  padding: 5px;
}
/* Search bar location and where it lives */
input[type=search] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.5em;
  border-radius: 20px;
  padding: 0 20px;
}
/* Add the search icon in the circle on the right side of the search bar */
.icon {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}
/* Add a hover effect */
.find:hover {
  width: 400px;
  cursor: pointer;
  background: #ffffff;
}
/* It starts on a new line, and takes up the whole width */
.find:hover input {
  display: block;
}
/* ------------------------------ Trying out a different kind of button ---------------------------- */
.breathing {
  cursor: pointer;
  width: 200px;
  padding: 10px;
  margin: 50px auto;
  border: 1px solid #e9e9e9;
  font-size: 30px;
  background: #2d68c7;
  color: #fff;
  border-radius: 3px;
  text-align: center; 
  /* How fast is the breathing */
  animation: breathing 4s ease-out infinite normal;
  }
@keyframes breathing {
0% {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
25% {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
50% {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
100% {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
}
